@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Space Mono', monospace;
  font-size: 0.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-2 {
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Space Mono', monospace;
  font-size: 0.6rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.96rem;
}
.display-5 {
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.48rem;
    font-size: calc( 0.86rem + (0.6 - 0.86) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.86rem + (0.6 - 0.86) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #73716a !important;
}
.bg-success {
  background-color: #73716a !important;
}
.bg-info {
  background-color: #73716a !important;
}
.bg-warning {
  background-color: #73716a !important;
}
.bg-danger {
  background-color: #73716a !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #73716a !important;
  border-color: #73716a !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ba6946 !important;
  border-color: #ba6946 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #834931 !important;
  border-color: #834931 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #834931 !important;
  border-color: #834931 !important;
}
.btn-info,
.btn-info:active {
  background-color: #73716a !important;
  border-color: #73716a !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-success,
.btn-success:active {
  background-color: #73716a !important;
  border-color: #73716a !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #73716a !important;
  border-color: #73716a !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #73716a !important;
  border-color: #73716a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4b4a45 !important;
  border-color: #4b4a45 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #3e3d39;
  color: #3e3d39;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #73716a;
  border-color: #73716a;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #73716a !important;
  border-color: #73716a !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #703f2a;
  color: #703f2a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ba6946;
  border-color: #ba6946;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ba6946 !important;
  border-color: #ba6946 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #3e3d39;
  color: #3e3d39;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #73716a;
  border-color: #73716a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #73716a !important;
  border-color: #73716a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #3e3d39;
  color: #3e3d39;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #73716a;
  border-color: #73716a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #73716a !important;
  border-color: #73716a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #3e3d39;
  color: #3e3d39;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #73716a;
  border-color: #73716a;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #73716a !important;
  border-color: #73716a !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #3e3d39;
  color: #3e3d39;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #73716a;
  border-color: #73716a;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #73716a !important;
  border-color: #73716a !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #73716a !important;
}
.text-secondary {
  color: #ba6946 !important;
}
.text-success {
  color: #73716a !important;
}
.text-info {
  color: #73716a !important;
}
.text-warning {
  color: #73716a !important;
}
.text-danger {
  color: #73716a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #3e3d39 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #703f2a !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #3e3d39 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3e3d39 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #3e3d39 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #3e3d39 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #73716a;
}
.alert-warning {
  background-color: #73716a;
}
.alert-danger {
  background-color: #73716a;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #73716a;
  border-color: #73716a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #73716a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b2b0ab;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b2b0ab;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b2b0ab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b2b0ab;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b2b0ab;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #73716a;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #73716a;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #73716a;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #73716a;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #73716a;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: none;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-raOZPVJn9n {
  background-image: url("../../../assets/images/voorbladsite2-2-2000x1414.png");
}
.cid-rbtD5Wlvs1 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #dee5e4;
}
.cid-rbtD5Wlvs1 .row-links {
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rbtD5Wlvs1 .social-row {
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rbtD5Wlvs1 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-rbtD5Wlvs1 .media-container-row .foot-menu {
  list-style: none;
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
}
.cid-rbtD5Wlvs1 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rbtD5Wlvs1 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rbtD5Wlvs1 .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-flex-wrap: wrap;
}
.cid-rbtD5Wlvs1 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rbtD5Wlvs1 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rbtD5Wlvs1 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rbtD5Wlvs1 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rbtD5Wlvs1 .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-rbtD5Wlvs1 .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rbtD5Wlvs1 .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rbtD5Wlvs1 foot-menu-item {
  color: #73716a;
  text-align: right;
}
.cid-rbtD5Wlvs1 foot-menu-item A {
  color: #73716a;
}
.cid-rbtD5Wlvs1 .media-container-row .mbr-text {
  color: #73716a;
}
.cid-rbtD5Wlvs1 foot-menu-item B {
  color: #73716a;
}
.cid-rbtD5Wlvs1 foot-menu-item SPAN {
  color: #73716a;
}
.cid-rc9496damL {
  background: #ffffff;
}
.cid-rc9496damL .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-rc9496damL .mbr-figure {
  margin: 0 auto;
}
.cid-rc9496damL figcaption {
  position: relative;
}
.cid-rc9496damL figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rc9496damL .image-block {
    width: 100% !important;
  }
}
.cid-rc9xhl3fUI {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #dee5e4;
}
.cid-rc9xhl3fUI .row-links {
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rc9xhl3fUI .social-row {
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rc9xhl3fUI .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-rc9xhl3fUI .media-container-row .foot-menu {
  list-style: none;
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
}
.cid-rc9xhl3fUI .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rc9xhl3fUI .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rc9xhl3fUI .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-flex-wrap: wrap;
}
.cid-rc9xhl3fUI .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rc9xhl3fUI .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rc9xhl3fUI .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rc9xhl3fUI .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rc9xhl3fUI .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-rc9xhl3fUI .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rc9xhl3fUI .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rc9xhl3fUI foot-menu-item {
  color: #73716a;
  text-align: right;
}
.cid-rc9xhl3fUI foot-menu-item A {
  color: #73716a;
}
.cid-rc9xhl3fUI .media-container-row .mbr-text {
  color: #73716a;
}
.cid-rc9xhl3fUI foot-menu-item B {
  color: #73716a;
}
.cid-rc9xhl3fUI foot-menu-item SPAN {
  color: #73716a;
}
.cid-rbzY0bOt2D {
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rbzY0bOt2D .mbr-section-subtitle {
  color: #73716a;
  text-align: center;
}
.cid-rbzY0bOt2D H2 {
  color: #73716a;
}
.cid-rbtXP1ahZf {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rbtXP1ahZf .mbr-section-subtitle {
  color: #73716a;
  text-align: center;
  font-weight: 300;
}
.cid-rbtXP1ahZf .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #e7e7e7;
  margin-right: 2rem;
  transition: all .4s;
}
.cid-rbtXP1ahZf .timeline-text-content p {
  margin-bottom: 0;
}
.cid-rbtXP1ahZf .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-rbtXP1ahZf .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-rbtXP1ahZf .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-rbtXP1ahZf .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
.cid-rbtXP1ahZf .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #e7e7e7;
  top: 20px;
  margin-left: -30px;
}
.cid-rbtXP1ahZf .mbr-iconfont {
  position: absolute;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}
.cid-rbtXP1ahZf .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #e7e7e7;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-rbtXP1ahZf .iconsBackground {
    left: 1.5rem;
  }
  .cid-rbtXP1ahZf .separline:before {
    left: calc(1.5rem - 1px);
  }
  .cid-rbtXP1ahZf .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  .cid-rbtXP1ahZf .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-rbtXP1ahZf .mbr-section-title {
  color: #505048;
}
.cid-rbtXP1ahZf .mbr-timeline-title {
  color: #73716a;
}
.cid-rbtXP1ahZf .mbr-timeline-text {
  color: #73716a;
}
.cid-rc92cezF94 {
  background: #ffffff;
}
.cid-rc92cezF94 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-rc92cezF94 .mbr-figure {
  margin: 0 auto;
}
.cid-rc92cezF94 figcaption {
  position: relative;
}
.cid-rc92cezF94 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rc92cezF94 .image-block {
    width: 100% !important;
  }
}
.cid-rc92J0UWwU {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rc92J0UWwU .mbr-section-subtitle {
  color: #73716a;
  text-align: center;
  font-weight: 300;
}
.cid-rc92J0UWwU .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #e7e7e7;
  margin-right: 2rem;
  transition: all .4s;
}
.cid-rc92J0UWwU .timeline-text-content p {
  margin-bottom: 0;
}
.cid-rc92J0UWwU .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-rc92J0UWwU .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-rc92J0UWwU .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-rc92J0UWwU .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
.cid-rc92J0UWwU .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #e7e7e7;
  top: 20px;
  margin-left: -30px;
}
.cid-rc92J0UWwU .mbr-iconfont {
  position: absolute;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}
.cid-rc92J0UWwU .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #e7e7e7;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-rc92J0UWwU .iconsBackground {
    left: 1.5rem;
  }
  .cid-rc92J0UWwU .separline:before {
    left: calc(1.5rem - 1px);
  }
  .cid-rc92J0UWwU .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  .cid-rc92J0UWwU .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-rc92J0UWwU .mbr-section-title {
  color: #505048;
}
.cid-rc92J0UWwU .mbr-timeline-title {
  color: #73716a;
}
.cid-rc92J0UWwU .mbr-timeline-text {
  color: #73716a;
}
.cid-rc9RpRz1sB {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 60px;
}
.cid-rc9RpRz1sB .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rc9RpRz1sB .video-block {
    width: 100% !important;
  }
}
.cid-rbtFIkiW3S {
  background-color: #dee5e4;
}
.cid-rbtFIkiW3S H1 {
  color: #73716a;
}
.cid-rbtCUgfhFd {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #dee5e4;
}
.cid-rbtCUgfhFd .row-links {
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rbtCUgfhFd .social-row {
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rbtCUgfhFd .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-rbtCUgfhFd .media-container-row .foot-menu {
  list-style: none;
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
}
.cid-rbtCUgfhFd .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rbtCUgfhFd .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rbtCUgfhFd .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-flex-wrap: wrap;
}
.cid-rbtCUgfhFd .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rbtCUgfhFd .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rbtCUgfhFd .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rbtCUgfhFd .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rbtCUgfhFd .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-rbtCUgfhFd .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rbtCUgfhFd .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rbtCUgfhFd foot-menu-item {
  color: #73716a;
  text-align: right;
}
.cid-rbtCUgfhFd foot-menu-item A {
  color: #73716a;
}
.cid-rbtCUgfhFd .media-container-row .mbr-text {
  color: #73716a;
}
.cid-rbtCUgfhFd foot-menu-item B {
  color: #73716a;
}
.cid-rbtCUgfhFd foot-menu-item SPAN {
  color: #73716a;
}
.cid-rbtsfR97Ch {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #dee5e4;
}
.cid-rbtsfR97Ch .title {
  margin-bottom: 2rem;
}
.cid-rbtsfR97Ch .mbr-section-subtitle {
  color: #505048;
}
.cid-rbtsfR97Ch a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rbtsfR97Ch a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rbtsfR97Ch .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-rbtsfR97Ch .input-group-btn {
  display: block;
  text-align: center;
}
.cid-rbtsfR97Ch H2 {
  color: #73716a;
}
.cid-rbtsfR97Ch LABEL {
  color: #73716a;
  text-align: center;
}
.cid-rbtCZlSgtx {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #dee5e4;
}
.cid-rbtCZlSgtx .row-links {
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rbtCZlSgtx .social-row {
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rbtCZlSgtx .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-rbtCZlSgtx .media-container-row .foot-menu {
  list-style: none;
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
}
.cid-rbtCZlSgtx .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rbtCZlSgtx .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rbtCZlSgtx .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-flex-wrap: wrap;
}
.cid-rbtCZlSgtx .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rbtCZlSgtx .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rbtCZlSgtx .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rbtCZlSgtx .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rbtCZlSgtx .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-rbtCZlSgtx .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rbtCZlSgtx .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rbtCZlSgtx foot-menu-item {
  color: #73716a;
  text-align: right;
}
.cid-rbtCZlSgtx foot-menu-item A {
  color: #73716a;
}
.cid-rbtCZlSgtx .media-container-row .mbr-text {
  color: #73716a;
}
.cid-rbtCZlSgtx foot-menu-item B {
  color: #73716a;
}
.cid-rbtCZlSgtx foot-menu-item SPAN {
  color: #73716a;
}
